body::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: url("../images/login.png");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
}

